<!DOCTYPE html>
<div style='width: 100%; height: 8vh' class="nav-bar">
  <h1>GRELP!</h1>
  <a href="/">Home</a>
  <a href="/business/">Restaurants Near Me</a>
  <a href="/deals/">Deals Near Me</a>
</div>
<br>
<div class="container">
  <h2>Grelp Deals:</h2>
  <table class="table table-bordered table-hover">
    <thead class="thead-default">
      <tr>
        <th>Restaurant Name</th>
        <th>Deal Description</th>
        <th>Deal Code</th>
        <th>Deal Restrictions</th>
        <th>Expiration Date</th>
      </tr>
    </thead>
    <tbody>
      <% @deals.each do |deal| %>
        <tr>
          <td>
            <%= deal[:Restaurant]  %>
          </td>
          <td>
            <%= deal[:Value] %>
          </td>
          <td>
            <%= deal[:Offer_Code] %>
          </td>
          <td>
            <%= deal[:Restrictions] %>
          </td>
          <td>
            <%= deal[:Exp_Date] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>