<h1>All Deals</h1>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th>Restaurant Name</th>
      <th>Deal Description</th>
      <th>Deal Code</th>
      <th>Deal Restrictions</th>
      <th>Expiration Date</th>
    </tr>
  </thead>
  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td>
          <%= deal[:Restaurant]  %>
        </td>
        <td>
          <%= deal[:Value] %>
        </td>
        <td>
          <%= deal[:Offer_Code] %>
        </td>
        <td>
          <%= deal[:Restrictions] %>
        </td>
        <td>
          <%= deal[:Exp_Date] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
