<div class = "container" style=" padding-top: 50px">
  <h1>Create A New Deal</h1>
  <%= form_tag deals_path do %>
  <div class="container">
    <h5><b>Restaurant ID:  </b><span class="label label-default"><b><%=@id%></b></span></h5>
    <br>
    <h5><b>Restaurant Name:  </b><span class="label label-default"><b><%=@name%></b></span></h5>
    <br>
    <%= hidden_field(:deal, :Restaurant, :value => @name) %>
    <%= hidden_field(:deal, :ID, :value => @id) %>
    <%= label :deal, :Deal_Title, 'Deal Name:' %>
    <%= text_field(:deal, :Deal_Title, class: "form-control") %>
    <%= label :deal, :Exp_Date, 'Expiration Date: ' %>
    <%= text_field(:deal, :Exp_Date, class: "form-control") %>
    <%= label :deal, :Description, 'Deal Description: ' %>
    <%= text_field(:deal, :Description, size: 75, class: "form-control") %>
    <%= label :deal, :Restrictions, 'Deal Restrictions: ' %>
    <%= text_field(:deal, :Restrictions, size: 75, class: "form-control") %>
    <%= label :deal, :Offer_Code, 'Offer Code: ' %>
    <%= hidden_field(:deal, :Offer_Code, :value => (0...8).map { (65 + rand(26)).chr }.join) %>
    <br>
    <%= submit_tag 'Create Deal' %>
  <% end %>
  </div>
</div>